body {
    margin: 0; /* body 요소의 마진 제거 */
}
  
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 화면 전체 높이로 설정 */
    padding: 0 150px; /* 좌우 공백 설정 */
    box-sizing: border-box; /* padding이 전체 크기에 포함되도록 설정 */
}
  
.top-menu {
    height: 50px; /* 원하는 높이로 설정 */
    background-color: rgb(169, 175, 171);
    position: sticky;
    top: 0;
}
  
.content {
    flex: 1;
    overflow-y: auto; /* 세로 스크롤 가능하도록 설정 */
    padding: 20px;
}
  
.bottom-menu {
    height: 50px; /* 원하는 높이로 설정 */
    background-color: rgb(169, 175, 171);
    position: sticky;
    bottom: 0;
}

.floating-button {
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.floating-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.floating-button:hover {
    background-color: #0056b3;
}

#chooseFile{
    opacity: 0;
}